<!-- Content page-->
<section class="full-box dashboard-contentPage">
    {{>navigation/navbar}}
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles"><i class="zmdi zmdi-home zmdi-hc-fw"></i> Dashboard
                <small>Home</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="full-box text-center" style="padding: 30px 10px;">
            {{#if (eq user.rol "administrador")}}
            <a href="/users/page1">
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Usuarios
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                    <div class="full-box tile-number text-titles">
                        {{#each totalUsers}}
                        <p class="full-box">{{users}}</p>
                        {{/each}}
                        <small>Registros</small>
                    </div>
                </article>
            </a>
            <a href="/institutions/page1">
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        II.EE
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i>
                    </div>
                    <div class="full-box tile-number text-titles">
                        {{#each totalInstitutions}}
                        <p class="full-box">{{institutions}}</p>
                        {{/each}}
                        <small>Registros</small>
                    </div>
                </article>
            </a>
            {{/if}}
            <a href="/personals/page1">
                <article class="full-box tile">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Personal
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-male-alt"></i>
                    </div>
                    <div class="full-box tile-number text-titles">
                        {{#each totalPersonals}}
                        <p class="full-box">{{personals}}</p>
                        {{/each}}
                        <small>Registros</small>
                    </div>
                </article>
            </a>
        </div>
    </div>
    {{>footer/footer}}
</section>

{{>navigation/navigation}}
