<!-- NavBar -->
<nav class="full-box dashboard-Navbar">
    <ul class="full-box list-unstyled text-right">
        <li class="pull-left">
            <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-menu"></i></a>
        </li>
        <li>
            <a href="/MANUAL%20DE%20USUARIO.pdf"
                target="_blank" class="btn-modal-help">
                <i class="zmdi zmdi-help-outline"></i>
            </a>
        </li>
    </ul>
</nav>