<!-- NavBar -->
<nav class="full-box dashboard-Navbar">
    <ul class="full-box list-unstyled text-right">
        <li class="pull-left">
            <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-menu"></i></a>
        </li>
        <li>
            <a href="#!" class="btn-Notifications-area">
                <i class="zmdi zmdi-notifications-none"></i>
                <span class="badge">7</span>
            </a>
        </li>
        <li>
            <a href="#!" class="btn-search">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>
        <li>
            <a href="#!" class="btn-modal-help">
                <i class="zmdi zmdi-help-outline"></i>
            </a>
        </li>
    </ul>
</nav>