<!-- Content page-->
<section class="full-box dashboard-contentPage">
    {{>navigation/navbar}}
    </nav>
    <!-- Content page -->
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Asistencia
                <small>Importar</small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body rounded-bottom bg-white">
                        <form action="/attendanceRecords/importData" method="POST" enctype="multipart/form-data">
                            <div class="">
                                <label class="">ARCHIVO EXCEL</label>
                                <input class="" type="file" accept=".xlsx" name="excel">
                            </div>
                            <p class="text-center">
                                <button class="btn btn-raised btn-sm" style="background-color: #01579B;">
                                    <p style="font-size: 20px; margin: auto; color: #fff;"><i
                                            class="zmdi zmdi-floppy"></i>
                                        Importar</p>
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer/footer}}
</section>

{{>navigation/navigation}}