<div style="background-image: url(/assets/img/loginFont.jpg); height: 100%; width: 100%;">
    <form action="/myaccount/forgot-password" method="POST" autocomplete="off" class="full-box logInForm">
        <h1>¿Olvidaste tu contraseña?</h1>
        <div class="form-group label-floating">
            <label class="control-label" for="user"> Usuario</label>
            <input class="form-control" name="user" id="user" type="text">
            <p class="help-block">Escribe tu usuario</p>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-raised btn-primary" type="submit">Enviar correo</button>
        </div>
    </form>
</div>