<form action="/myaccount/signIn" method="POST" autocomplete="off" class="full-box logInForm">
    <p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
    <p class="text-center text-muted text-uppercase">Inicia sesión con tu cuenta</p>
    <div class="form-group label-floating">
        <label class="control-label" for="UserCode">Código Modular</label>
        <input class="form-control" name="userModularCode" id="userModularCode" type="text">
        <p class="help-block">Escribe tu código modular</p>
    </div>
    <div class="form-group label-floating">
        <label class="control-label" for="UserPass">Contraseña</label>
        <input class="form-control" name="userPassword" id="userPassword" type="password">
        <p class="help-block">Escribe tu contraseña</p>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-raised btn-primary" type="submit">Iniciar Sesión</button>
    </div>
</form>