<!DOCTYPE html>
<html lang="es">

<head>
    <title>SISTEMA DE ASISTENCIA</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    {{>messages/message}}
    {{{body}}}
    <!-- Incluye el archivo JS de jQuery desde un CDN -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <!-- Incluye el archivo JS de Select2 desde un CDN -->
    <script src="/js/select2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        $.material.init();
    </script>
</body>

</html>